*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.app{
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
}

.input-group{
    display: flex;
    gap: 5px;
}


input, select, button {
  padding: 8px;
}

button{
    cursor:pointer;
}

.filters {
  margin: 10px 0;
}

.filters button{
    margin:10px 0;
}

li {
  list-style: none;
  padding: 8px;
  margin-bottom: 5px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.high { border-left: 5px solid red; }
.medium { border-left: 5px solid orange; }
.low { border-left: 5px solid green; }